/*
	RESET 
*/
html, body, img, form, input, header, nav, div, ul, li, h1, h2, h3, h4, span, p, a, section {
	border: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
}

/*
	GENERAL
*/
body {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 150%;
	background:-o-linear-gradient(top, #040429, #257eb7);
	background:-ms-linear-gradient(top, #040429, #257eb7);
	background:-moz-linear-gradient(top, #040429, #257eb7);
	background:-webkit-linear-gradient(top, #040429, #257eb7);
	background:linear-gradient(top, #040429, #257eb7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7')";
}

/*
	SEARCH
*/
#search-text {
	width: 100%;
	max-width: 960px;
	margin: 40px auto 0 auto;
	display: block;
	padding: 24px 36px;
	font-size: 36px;
	box-sizing: border-box;
	border: 1px solid #000;
}

/*
	STAGE
*/
#stage {
	margin-top: 80px;
}
#stage li {
	display: inline-block;
	position: relative;
	width: 320px;
	height: 180px;
}

#stage li:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: transparent url(img/play.png) no-repeat 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0.0;
	transition: opacity 0.2s;
}

#stage li:hover:after {
	opacity: 0.6;
}

/*
	FLOW
*/
.flow-stage {
	width: 100%;
	font-size: 0;
	white-space: nowrap;
	perspective: 500px;
	-webkit-perspective: 500px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}
.flow-slide {
	position: absolute !important;
	top: 0;
	left: 0;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom,from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));
}